.header {
  background-color: #eff2f3;

  
  padding: 2rem;
  

}



.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.header nav a {
  color: rgba(114, 112, 112, 0.997);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.list a:hover,
.list a.active{
  color: rgba(8, 6, 6, 0.997);
  text-decoration: none;
}
